body {background-color: black; 
    color:white; 
    text-align: center;
    margin:auto;
    display:flex;
    flex-direction: column;
}

footer {
    width: 100%;
    /* position: absolute; */
    bottom: 0;
    margin: 10px;
    text-align: center;
}

table {
    border-color: white;
}

button {
    width: 45px;
    height: 45px;
    font-size: 20px;
    text-align: center;
    margin-bottom:10px;
}

h1 {
    margin:10px;
}
.cell {
    width:40px;
     height:40px;
     text-align: center;
    background-color: rgb(112, 111, 111);
}

.cell img {width:auto; height:30px}

.game-data {
    /* width: 200px; */
    display: flex;
    justify-content: space-evenly;
    justify-self: center;
}

.difficulty-setting {
    padding: 10px;
}

.game-interface {
    margin: auto;
}