

body {background-color: black; 
    color:white; 
    text-align: center;
    margin:auto;
    display:flex;
    flex-direction: column;
    font-family: 'Orbitron', sans-serif;
}

footer {
    font-size: 10px;
    width: 20%;
    position: fixed;
    bottom:0;
    text-align: left;
    margin: 10px;   
    font-family: 'Indie Flower',cursive;
}

footer:hover {
    font-size: 14px;
    text-shadow: 0 0 5px #f3eded, 0 0 15px #f700ff;
}

table {
    border-color: white;
}



button {
    width: 45px;
    height: 45px;
    font-size: 20px;
    text-align: center;
    margin-bottom:10px;
}

h1 {
    margin:5px;
    text-shadow: 0 0 5px #f3eded, 0 0 15px #f700ff;
}


.scoreboard h1 {
    font-size: 25px;
}

.timer{
 font-family: 'Orbitron', sans-serif;
}
    
.cell {
    width:40px;
     height:40px;
     text-align: center;
     color:black;
}


.cell img {width:auto; height:30px}

.game-data {
    /* width: 200px; */
    display: flex;
    justify-content: space-evenly;
    justify-self: center;
}
.lives, .hints {
    font-size:25px;
    display:flex;
    align-items: center;
    margin-bottom: 5px;
    justify-content: center;
}

.hints {
    visibility: hidden;
}


/* .cell:hover,.hints:hover {
    cursor: pointer;
} */

.life {
    margin:2px;
    color:lightgray;
}

.difficulty-setting {
    padding: 10px;
}

.game-interface {
    margin: auto;
}


.cell span {
    visibility: hidden;

}

.visible {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(107,119,133,1) 100%);
    /* background-color: rgb(173, 172, 172); */
}

.cell:not(.visible, .hint-show) {
    background-color: rgb(112, 111, 111);
}


.hint-show {
    background-color: rgb(215, 231, 126);
}