

body {background-color: black; 
    color:white; 
    text-align: center;
    margin:auto;
    display:flex;
    flex-direction: column;
    font-family: 'Orbitron', sans-serif;
}

footer {
    width: 100%;
    /* position: absolute; */
    bottom: 0;
    margin: 10px;
    text-align: center;
    font-family: 'Indie Flower',cursive;
}

table {
    border-color: white;
}


button {
    width: 45px;
    height: 45px;
    font-size: 20px;
    text-align: center;
    margin-bottom:10px;
}

h1 {
    margin:5px;
}

.timer{
 font-family: 'Orbitron', sans-serif;
}
    
.cell {
    width:40px;
     height:40px;
     text-align: center;
     color:black;
}


.cell img {width:auto; height:30px}

.game-data {
    /* width: 200px; */
    display: flex;
    justify-content: space-evenly;
    justify-self: center;
}
.lives {
    font-size:20px;
    display:flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: center;
}

.life{
    margin:2px;
}

.difficulty-setting {
    padding: 10px;
}

.game-interface {
    margin: auto;
}


.cell span {
    visibility: hidden;

}

.visible {
    background-color: rgb(173, 172, 172);
}

.cell:not(.visible) {
    background-color: rgb(112, 111, 111);
}